<p id="notice"><%= notice %></p>

<h1>Enrties</h1>

<table>
  <thead>
    <tr>
      <th>Meal type</th>
      <th>Calories</th>
      <th>Fats</th>
      <th>Carbs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrties.each do |enrty| %>
      <tr>
        <td><%= enrty.meal_type %></td>
        <td><%= enrty.calories %></td>
        <td><%= enrty.fats %></td>
        <td><%= enrty.carbs %></td>
        <td><%= link_to 'Show', enrty %></td>
        <td><%= link_to 'Edit', edit_enrty_path(enrty) %></td>
        <td><%= link_to 'Destroy', enrty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrty', new_enrty_path %>
