<p id="notice"><%= notice %></p>

<p>
  <strong>Meal type:</strong>
  <%= @enrty.meal_type %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @enrty.calories %>
</p>

<p>
  <strong>Fats:</strong>
  <%= @enrty.fats %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @enrty.carbs %>
</p>

<%= link_to 'Edit', edit_enrty_path(@enrty) %> |
<%= link_to 'Back', enrties_path %>
